<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Buyer Bot</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>

    <div id="topnav" class="container_NB">
        <a href="index.html">Home</a>
        <a class="active" href="about.html">About</a>
      </div>

      <div class="container_about">
        <p>This is a project done for the SLIIT codefest 2024 - AI sprint. </p>
        <p>This project tackles the 2nd challenge, <b>E-Commerce: Next-Generation E-Commerce with Machine Customers.</b></p>
        <p>The 2nd Challenge is as follows.</p>
        <p>  AI is revolutionizing the e-commerce landscape, transforming the shopping experience by
making it more personalized, eBicient and user-centric. Looking ahead, the concept of
"machine customers" — automated AI agents that can shop on behalf of users — is gaining
increasing relevance. These agents have the potential to fundamentally change how we
interact with online stores, enabling faster, data-driven purchasing decisions.
The challenge in this use case is to build a platform that allows machine customers to
autonomously navigate various online commerce platforms. Participants are encouraged to
explore the use of Generative AI agents and other advanced technologies to create
automated systems capable of evaluating products, comparing deals, and selecting the
best options based on user-defined criteria. The goal is to develop a solution that mimics
human shopping behavior eBiciently and intelligently, optimizing the process and ensuring
users achieve the best possible outcomes.
        </p>
        <h3 style="color: #2196F3;">
          Team Neural Knights
        </h3>
        <p><ul>
          <li>Sathindu</li>
          <li>Heshan</li>
          <li>Manuth</li>
          <li>Vishaka</li>
          <li>Inuki</li>
          </ul>
        </p>
      </div>
      
      <footer class="container_CR ">
        <p>&copy; 2024 AI Buyer Bot</p>
    </footer>
</body>
</html>
